@import "../colors.scss";

.todo-login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(15%);

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & input {
      font-size: 14pt;
      padding: 8px;
      border-radius: 8px;
      outline: none;
      border: 1px solid $darkula;
      margin: 10px 0;
    }

    & button.button-login {
      font-size: 16pt;
      margin: 20px 0 0;
      width: 100%;
    }
  }

  .message {
    cursor: pointer;

    &.message-error {
      background: $hard-red;
      width: fit-content;
      color: #fff;
      padding: 15px 20px;
      font-size: 14pt;
      border-radius: 15px;
      margin: 60px 0 0;
    }

    &.hide {
      display: none;
    }
  }
}

